<% content_for :javascript do %>
  <script type="text/javascript">
    ShopifyApp.ready(function(){
      ShopifyApp.Bar.initialize({ title: "Home" });
    });
  </script>
<% end %>

<div class="modal" role="dialog" id="setNewStockDiv">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h4 class="modal-title" >Cambiar stock minimo de: <span id="nameOfProduct"></span></h4>
              </div>
              <div class="modal-body">
                <h5>Stock minimo anterior: <span id="oldMinQuantityOfProduct"></span></h5>  
                <h5>Nuevo stock minimo: </h5>  
                <input type="number" class="form-control" id="newMinStock" placeholder="Inserte nuevo stock minimo del producto">
              </div>
              <div class="modal-footer">
                  <input class="btn btn-primary" type="button" id="btn-create" value="Actualizar stock minimo" onclick="setNewStock()">
                  <input class="btn btn-primary" type="button" id="btn-close" value="Cerrar" onclick="closeWindow()">
              </div>
          </div>
      </div>
  </div>

<h2>Productos</h2>

<table class="table table-striped text-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre del producto</th>
      <th scope="col">Stock</th>
      <th scope="col">Informacion</th>
    </tr>
  </thead>
  <tbody>
    <% @ourProducts.each do |product| %>
      <tr>
        <th scope="row"><%= product.shopify_id %></th>
        <td><%= product.name.upcase %></td>
        <% if product.actualQuantity <= product.minQuantity %>
          <td><button type="button" class="btn btn-danger disabled"><%= product.actualQuantity %></button></td>
        <%else%>
          <td><%= product.actualQuantity %></td>
        <%end%>
        <td><button type="button" class="btn btn-info" onclick="setNewStockToProduct(<%=product.id%>, '<%=product.name.upcase%>', <%=product.minQuantity%>)">Actualizar stock minimo</button></td>
      </tr>
    <%end%>
  </tbody>
</table>


<script type="text/javascript">
  idOfProductToUpdate = 0;

  function setNewStockToProduct(id,name,minStock) {
    document.getElementById('newMinStock').value = '';
    document.getElementById("setNewStockDiv").style.display = "block";
    document.getElementById('nameOfProduct').innerHTML = name;
    document.getElementById('oldMinQuantityOfProduct').innerHTML = minStock;
    idOfProductToUpdate = id;
  }

  function setNewStock(){
    newStockOfProductToUpdate = document.getElementById('newMinStock').value;
    $.ajax({
      type: 'POST',
      url: '/updateMinQuantity/' + idOfProductToUpdate,
      data: { newMinStock: newStockOfProductToUpdate},
      success: function(msg)
      {
          location.reload();
      },
      error : function(msg)
      {
          console.log(msg)
      }
    });
  }

  function closeWindow(){
    document.getElementById("setNewStockDiv").style.display = "none";
  }
  
</script>